name: 'CI'

on:
  workflow_run:
    workflows: ["Build"]
    types:
      - completed
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [windows-latest, ubuntu-latest, macos-latest]
        lem_version: [2.0.0, snapshot]

    steps:
    - uses: actions/checkout@v6

    - uses: ./
      with:
        version: ${{ matrix.lem_version }}

    - name: Check Lem version
      run: lem --version
