name: 'CI'
on:
  pull_request:
  push:
    paths-ignore:
    - '**.md'
    - '**.org'
    branches:
      - master
  workflow_dispatch:

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [windows-latest, ubuntu-latest, macos-latest]
        lem_version: [2.0.0, snapshot]

    steps:
    - uses: actions/checkout@v3

    - uses: ./
      with:
        version: ${{ matrix.lem_version }}

    - name: Check Lem version
      run: lem --version
